attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==4.1.0
blinker==1.5
bokeh==2.3.0
certifi==2022.9.24
charset-normalizer==2.0.12
cssmin==0.2.0
decorator==5.1.1
docutils==0.18.1
entrypoints==0.4
feedgenerator==2.0.0
icalendar==4.0.0
idna==3.4
importlib-metadata==4.8.3
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==3.0.3
jinja2-simple-tags==0.4.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
libsass==0.20.1
lxml==4.9.1
Markdown==3.3.4
markdown-captions==2.1.2
markdown-checklist==0.4.4
MarkupSafe==2.0.1
mistune==2.0.4
nbconvert==5.3.1
nbformat==5.1.3
nest-asyncio==1.5.6
notebook==5.6.0
numpy==1.21.6
packaging==21.3
pandocfilters==1.5.0
parso==0.7.1
pelican==4.8.0
pelican-jupyter==0.10.0
pelican-webassets==2.0.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
ptyprocess==0.7.0
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.0
python-dateutil==2.8.2
python-gettext==4.0
pytz==2022.4
PyYAML==6.0
pyzmq==24.0.1
requests==2.27.1
Send2Trash==1.8.0
six==1.16.0
smartypants==2.0.1
soupsieve==2.3.2.post1
terminado==0.12.1
testpath==0.6.0
tornado==5.1
traitlets==4.3.3
typing_extensions==4.1.1
typogrify==2.0.7
Unidecode==1.3.6
urllib3==1.26.12
wcwidth==0.2.5
webassets==2.0
webencodings==0.5.1
zipp==3.6.0
livereload==2.6.3
