:root {
  --background-color: #ffffff;
  --dark-text-color: #000000;
  --text-color: #2b2b2b;
  --purple-color: #8800c4;
  --purple-light-color: #f991a1;
  --purple-gradient: linear-gradient(45deg, var(--purple-color), #9c06de);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h4 {
  color: #f991a1;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: none;
  color: var(--purple-color);
  font-weight: bold;
}

h2 {
  color: var(--purple-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: var(--dark-text-color);
  line-height: 1.5;
}

.highlight {
  color: var(--purple-color);
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    hsla(224, 75%, 45%, 1) 0%,
    hsla(324, 75%, 45%, 1) 100%
  );
  color: white;
}

.header .logo-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.header .logo {
  height: 5rem;
}

.header .menu {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.header .menu .menu-link {
  display: flex;
  flex: 1 1 50%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header .menu .menu-link:hover {
  background-color: rgb(8 4 38 / 7%);
}

.header .menu .menu-link.menu-link-active {
  background-color: rgb(8 4 38 / 12%);
}

.news-box {
  background: linear-gradient(135deg, #fa7109 0%, rgb(214, 49, 20) 100%);
  color: white;
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.news-title {
  font-weight: bold;
  padding-bottom: 20px;
}

.box-addons {
  border-radius: 10px;
  background-color: white;
}

.box-addons > h2 {
  justify-content: center;
  text-align: center;
  padding-top: 3%;
}

.box-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
}
.box-content > div > img {
  width: 200px;
}

.box-intro {
  color: white;
  font-weight: bold;
  padding: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

  opacity: 1.2;
  background-image: url("../images/fondo_expo.png");
  background-repeat: no-repeat;
  background-position: 80% 10%;
  background-size: cover;
}

.box-intro > div > img {
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  padding: 10px;
  margin: 10px;
}
.card > div > img {
  width: 200px;
}
.card_image {
  height: 50%;
  margin-top: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}

@media (min-width: 22.5rem) {
  .box-intro {
    display: block;
    padding: 50px;
  }
  .box-content {
    display: block;
    padding: 10px;
  }
  .card {
    width: 100%;
  }
}

@media (min-width: 30rem) {
  .header .menu .menu-link {
    flex: 1 1 33.333%;
  }
  .card {
    width: 100%;
  }
}

@media (min-width: 63rem) {
  .header {
    flex-direction: row;
    background: linear-gradient(
      135deg,
      hsla(224, 75%, 45%, 1) 0%,
      hsla(324, 75%, 45%, 1) 100%
    );
    color: white;
  }

  .header .logo-wrapper {
    margin: 0;
    padding-left: 0.75rem;
    padding-right: 6rem;
  }

  .header .logo-wrapper:hover {
    background-color: rgb(0 0 0 / 3%);
  }

  .header .menu {
    justify-content: right;
    flex-wrap: nowrap;
  }

  .header .menu .menu-link {
    flex: none;
    padding: 1rem 1.75rem;
  }

  .header .menu .menu-link-tickets {
    border-left: 1px solid rgb(0 0 0 / 15%);
  }

  .box-intro {
    display: flex;
  }

  .box-intro > div > img {
    width: 400px;
  }

  .box-content {
    display: flex;
  }

  .box-content > div > img {
    width: 150px;
  }
}

/* CONTENT */
.content-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.content-wrapper .content {
  padding: 1.8rem 1.2rem 2.6rem 1.2rem;
  width: 100%;
  max-width: 70rem;
}

.content-wrapper .content .main-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.button {
  background: var(--purple-gradient);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 2.7rem;
  border-radius: 2px;
}
.button:hover,
.button:focus {
  opacity: 0.9;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.center-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.important-title {
  background-color: #f6e7ae;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.content-wrapper .content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

@media (min-width: 17rem) {
  .card {
    width: 100%;
  }
}

@media (min-width: 22.5rem) {
  .box-intro {
    flex-direction: row;
  }
  .box-content {
    flex-direction: row;
  }
  .caption {
    font-size: 0.8rem;
  }
  .card {
    width: 100%;
  }
}

@media (min-width: 40rem) {
  .content-wrapper .content {
    padding: 1.5rem 2rem 2.3rem 2rem;
  }
  .card {
    width: 100%;
  }
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer .footer-section {
  padding: 1rem;
}

.footer .links {
  display: flex;
  gap: 0.5rem 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .links .link {
  padding: 0.5rem 1rem;
}

.footer .social {
  text-align: center;
  padding-bottom: 1.5rem;
}

.footer .social .social-link {
  padding: 0 0.5rem;
}

.social-link:hover {
  color: #feefb6;
}

@media (min-width: 22.5rem) {
  .footer {
    flex-direction: row;
    align-items: center;
    background: linear-gradient(135deg, #8800c4 0%, #ff7602 100%);
    color: white;
  }

  .footer .footer-section {
    padding: 1.3rem 1.5rem;
  }

  .footer .links {
    flex: 1;
    justify-content: left;
  }

  .footer .social {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    font-size: 0.8rem;
  }
  .caption {
    font-size: 0.8rem;
  }
  .card {
    width: 100%;
  }
}

/*
Ediciones Anteriores
*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.card__image-container {
  position: relative;
  padding-top: 100%; /* sets the height of the container equal to its width */
  overflow: hidden;
}

.card__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__content {
  padding: 10px;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

/*
Gradiente para menú ticket
*/
.menu-link-tickets:hover {
  background: linear-gradient(-45deg, rgb(255, 238, 0), #e78f3c);
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
  color: white;
}

/*
Background image
*/

.highlight-box {
  display: inline-block;
}
.highlight-box:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(3deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.brochure {
  width: 500px;
}
/*
Sección de fotos polaroid
*/

.polaroid {
  background: #fff;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.polaroid > img {
  max-width: 100%;
  height: auto;
}

.item {
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:hover {
  filter: none;
  transform: scale(2.8, 2.8) rotate(0deg) !important;
  transition: all 0.35s;
  position: relative;
  z-index: 1;
}
.item:hover .polaroid:before {
  content: "";
  z-index: -1;
  position: absolute;

  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.linea-tiempo {
  position: relative;
  width: 500px;
  max-width: 100%;
  font-family: Arial;
}

.linea-tiempo::before {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #5202c5;
  left: 50%;
  height: 100%;
  border-radius: 10px;
}

.momento {
  position: relative;
  width: 45%;
  box-sizing: border-box;
}

.momento:nth-child(even) {
  left: 55%;
}

.momento::after {
  content: "";
  position: absolute;
  top: calc(50% + 10px);
  right: calc(-11.11% - 11.5px);
  height: 20px;
  width: 20px;
  background-color: #5202c5;
  border-radius: 50%;
}

.momento:nth-child(even)::after {
  left: calc(-11.11% - 8.5px);
}

.momento h3 {
  margin: 10px 0px;
  font-size: 30px;
  text-align: center;
}

.momento .descripcion {
  background-color: var(--purple-light-color);
  border-radius: 10px;
  padding: 10px;
  line-height: 22px;
  color: white;
  font-size: 14px;
}

.momento .descripcion::after {
  content: "";
  position: absolute;
  right: -10px;
  top: calc(50% + 10px);
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid var(--purple-light-color);
}

.momento:nth-child(even) .descripcion {
  background-color: var(--purple-light-color);
  color: white;
}

.momento:nth-child(even) .descripcion::after {
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid var(--purple-light-color);
  border-left: none;
}

/* Patrocinios */
.plans-table-scroller {
  overflow-x: auto;
}

.plans-table {
  background-color: white;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1px;
  border-collapse: collapse;
}

.plans-table th,
.plans-table td {
  padding: 0.7rem 0.5rem;
}

.plans-table thead tr {
  background-color: var(--purple-color);
  border: 1px solid var(--purple-color);
  color: #fff;
  font-weight: bold;
}
.plans-table thead tr th .plan-image {
  display: none;
}

.plans-table tbody tr {
  border: 1px solid #161c3d69;
}
.plans-table tbody tr td.benefit-title {
  text-align: left;
  min-width: 8rem;
}
.plans-table tbody tr td.discount {
  background-color: #f991a1;
}
.plans-table tbody tr td.has-benefit {
  background-color: #f8a800;
}

@media screen and (min-width: 32rem) {
  .plans-table {
    font-size: 0.9rem;
  }
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 50rem) {
  .plans-table {
    font-size: 1rem;
  }

  .plans-table th,
  .plans-table td {
    padding: 0.7rem 0.9rem;
  }

  .plans-table thead tr th .plan-image {
    display: inline-block;
    width: 7rem;
  }
  .plans-table thead tr th .plan-title {
    display: none;
  }
  .card {
    width: 100%;
  }
}

/* Organización*/
.list-item {
  flex-wrap: nowrap !important;
  padding: 1.5rem !important;
}

.list-item-image {
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.list-item-image .image {
  margin: 0;
  height: 4rem;
  width: 4rem;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.image img.is-rounded {
  border-radius: 99999px;
}

.list-item-content {
  flex-direction: column;
  gap: 1rem;
  line-height: 0.8;
  padding: 0;
}

.list-item-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.list-item-description {
  font-size: 0.9rem;
}

.social-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.social-button {
  background-color: var(--purple-color);
  color: white;
  border-color: 1px solid #2d2d2d;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: 0.8em 1em 0.8em 1em;
}

.tag {
  display: inline-block;
  background-color: #204ac8;
  border-radius: 5px;
  padding: 0.4rem;
  margin-bottom: 0.3rem;
  color: white;
}

.org-is-info {
  background-color: gray;
}

@media screen and (min-width: 40rem) {
  .list-item-content {
    flex-direction: row;
    gap: 2rem;
  }
}

/* Viaje */

img.logo-agencia-viajes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a.boton-reserva {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
