@font-face {
  font-family: 'ralewaythin_italic';
  src: url('raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
    url('raleway-italic-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #ffffff;
  --dark-text-color: #000000;
  --text-color: #2b2b2b;
  --divisor-color: #808080;
  --purple-color: #8800c4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  color: var(--dark-text-color);
  line-height: 1.5;
}

.highlight {
  color: var(--purple-color);
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--divisor-color);
}

.header .logo-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.header .logo {
  height: 5rem;
}

.header .menu {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.header .menu .menu-link {
  display: flex;
  flex: 1 1 50%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header .menu .menu-link:hover {
  background-color: rgb(0 0 0 / 4%);
}

@media (min-width: 34rem) {
  .header .menu .menu-link {
    flex: 1 1 33.333%;
  }
}

@media (min-width: 63rem) {
  .header {
    flex-direction: row;
  }

  .header .logo-wrapper {
    margin: 0;
    padding-left: 0.75rem;
    padding-right: 6rem;
    border-right: 1px solid var(--divisor-color);
  }

  .header .logo-wrapper:hover {
    background-color: rgb(0 0 0 / 3%);
  }

  .header .menu {
    justify-content: right;
    flex-wrap: nowrap;
  }

  .header .menu .menu-link {
    flex: none;
    padding: 1rem 1.75rem;
  }

  .header .menu .menu-link-tickets {
    border-left: 1px solid var(--divisor-color);
  }
}

/* CONTENT */
.content-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.content-wrapper .content {
  padding: 1.8rem 1.2rem;
  max-width: 70rem;
}

.content-wrapper .content .main-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.content-wrapper .content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

@media (min-width: 63rem) {
  .content-wrapper .content {
    padding: 1.5rem 2rem;
  }
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--divisor-color);
}

.footer .footer-section {
  padding: 1rem;
}

.footer .links {
  display: flex;
  gap: 0.5rem 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .links .link {
  padding: 0.5rem 1rem;
}

.footer .social {
  text-align: center;
  padding-bottom: 1.5rem;
}

.footer .social .social-link {
  padding: 0 0.5rem;
}

@media (min-width: 63rem) {
  .footer {
    flex-direction: row;
    align-items: center;
  }

  .footer .footer-section {
    padding: 1.3rem 1.5rem;
  }

  .footer .links {
    flex: 1;
    justify-content: left;
  }

  .footer .social {
    display: flex;
    align-items: flex-end;
    justify-content: right;
  }
}


/*
Galeria flex para usar en mas sitios
*/
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  list-style-type: none;
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

/*
.background_1 {
  background-image: url(/theme/assets/images/burbuja_landing.png), url(/theme/assets/images/burbuja_landing.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}*/

.button {
  background-color: var(--purple-color); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}




.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 150px;
  background-color: #fff;
}

.box {

  border-radius: 5px;
  padding: 20px;
  margin-left: 20px;
  font-size: 150%;
}

.card__image-container > a > img {
  max-width:150px;
  max-height:150px;
}


.menu-link-tickets:hover {
	background: linear-gradient(-45deg, var(--purple-color), #e73c7e);
	background-size: 100% 100%;
	animation: gradient 15s ease infinite;
  color: white;
}


.p-box {
  display: inline-flex;
  gap: 30px;
}



.content-wrapper {
  background-image: url(/theme/assets/images/linea3_landing.png), url(/theme/assets/images/linea7_landing.png);
  background-position: 100% , bottom;
  background-repeat: repeat, repeat;
}