{% extends 'base.html' %}



{% block content %}

<h1 class="main-title">
  Llamada a ponentes (CFP)
</h1>
<section class="hero is-info">
    <h2>¿Quieres ser ponente? </h2>
    <p>
      Estamos felices de anunciar que la llamada a propuestas para ponencias se encuentra disponible.
      Buscamos personas de todos los niveles, campos y experiencia.
      <strong>Anímate, estamos deseando aprender de ti. </strong>
    </p>
    <br />
    <div class="center important-title">
      <h3><i class="fa-solid fa-bell"></i> Fecha límite: 23 de Junio</h3>
    </div>
    <div class="center-buttons">
      <a href="{{ C4P_LINK }}" class="button">
        Enviar mi ponencia
      </a>
    </div>
    <br>
    <h2>Recomendaciones para tu propuesta</h2>
    <p>
      Queremos motivar a personas con distintos niveles de experiencia en ponencias a participar
      en la conferencia. Sabemos que para personas que recién comienzan, el presentar una idea
      que refleje todos los detalles geniales que tu charla incluirá puede ser confuso.
    </p>
    <p>
      Es importante que presentes tu idea de manera clara, pero que también puedas dar la
      información necesaria para que quienes revisen, entiendan tu propuesta.
    </p>
    <h3>Estructura de tu abstract</h3>
    <p>
      Una estructura simple que puedes seguir, es poder contemplar los siguientes puntos
      en tu propuesta:
      <ul>
        <li>Contexto de tu charla o problema</li>
        <li>Definición del problema</li>
        <li>¿Por qué es importante buscar una solución a ese problema?</li>
        <li>¿Qué se hablará y que aprenderá la gente que asista?</li>
        <li>Requerimientos previos o comentarios adicionales de tu charla</li>
      </ul>
    </p>
    <p>
      Evita los abstract de una o dos líneas que repitan la idea que ya se presenta en el título,
      e intenta incluir factores que hacen tu propuesta <strong>¡especial y única!</strong>.
    </p>
</section>
<br>
{% endblock content %}
