{% extends 'base.html' %}



{% block content %}

<h1 class="main-title">
    Llamada a ponentes (CFP)
</h1>
<section class="hero is-info">
  <div class="hero-body">
    <p class="is-size-5">¿Quieres ser ponente? </p>
    <br>
    <p>
      Estamos felices de anunciar que la llamada a propuestas para ponencias se encuentra disponible.
      Buscamos personas de todos los niveles, campos y experiencia.
      <strong>Anímate, estamos deseando aprender de ti. </strong>
    </p>
    <br><br>
    <div class="center">
    <a href="{{ C4P_LINK }}">
      <button class="button is-normal is-link button is-light">Enviar mi ponencia</button>
    </a>
  </div>
  </div>
</section>
<br>

{% endblock content %}