{% extends 'base.html' %} {% block content %}

<h1 class="main-title">La Ciudad</h1>

<h2>Tenerife</h2>
<div class="p-box">
  <p>
    Destino turístico por excelencia, Tenerife es un lugar seguro y tranquilo
    que dispone de un clima agradable durante todo el año.
  </p>
  <p>
    La isla de
    <a href="https://www.holaislascanarias.com/tenerife/" class="link"
      >Tenerife</a
    >
    ofrece una gran variedad de opciones de alojamiento y ocio. Asimismo permite
    disfrutar de la naturaleza y la cultura local, además de las diferentes
    playas cercanas fomentando la interacción entre aquellas personas asistentes
    al evento.
  </p>

  <div class="center">
    <div class="item">
      <div class="polaroid">
        <img src="{{ SITEURL }}/theme/assets/images/ciudad/naturaleza.jpg" />
        <div class="caption">Naturaleza</div>
      </div>
    </div>

    <div class="item">
      <div class="polaroid">
        <img src="{{ SITEURL }}/theme/assets/images/ciudad/playas.jpg" />
        <div class="caption">Playas</div>
      </div>
    </div>

    <div class="item">
      <div class="polaroid">
        <img src="{{ SITEURL }}/theme/assets/images/ciudad/tecnologia.jpg" />
        <div class="caption">Tecnología</div>
      </div>
    </div>
  </div>

  <h2>Universidad de La Laguna</h2>

  <p>
    La
    <a href="https://www.ull.es/" class="link">Universidad de La Laguna</a>
    ofrece una ubicación estratégica ya que se encuentra situada en San
    Cristóbal de La Laguna próxima al Aeropuerto Tenerife Norte, y a la ciudad
    capitalina de Santa Cruz de Tenerife, contando con un servicio de transporte
    público adecuado para el traslado de los asistentes.
  </p>
  <p>
    El
    <a
      href="https://www.ull.es/la-universidad/campus/#campus_guajara"
      class="link"
      >Campus de Guajara</a
    >, lugar en el que se celebrará la conferencia, es el más amplio en
    extensión de toda la ULL, y cuenta con una
    <a href="https://goo.gl/maps/tZ9eQTcGebhxqZ9P8" class="link"
      >estación de tranvía</a
    >
    a 20 metros. Desde allí estaremos literalmente a dos pasos del
    <a
      href="https://www.ull.es/portal/puertas-abiertas/aulario-general-de-guajara/"
      class="link"
      >Aulario General de Guajara</a
    >, escenario de la PyConES23.
  </p>

  <div class="center">
    <div class="item">
      <div class="polaroid">
        <img src="{{ SITEURL }}/theme/assets/images/ciudad/ull.jpg" />
        <div class="caption">ULL</div>
      </div>
    </div>
  </div>

  <h2>La Laguna</h2>
  <p>
    <a href="https://turismo.aytolalaguna.es/" class="link"
      >San Cristóbal de La Laguna</a
    >, más conocida por La Laguna, es la segunda ciudad más poblada de Tenerife
    y la tercera del archipiélago canario. Se encuentra situada en el noreste de
    la isla de Tenerife, junto a la capital Santa Cruz de Tenerife, y forma
    parte del área metropolitana.
  </p>
  <p>
    La ciudad fue declarada Patrimonio de la Humanidad por la Unesco en 1999 por
    ser ejemplo único de ciudad colonial no amurallada. Su nombre proviene del
    hecho de que fue construida sobre una antigua laguna que existía en la zona.
  </p>
  <p>
    Históricamente, Canarias ha sido punto estratégico -cultural, social y
    económico- entre Europa y Latinoamérica.
  </p>

  <div class="center">
    <div class="item">
      <div class="polaroid">
        <img src="{{ SITEURL }}/theme/assets/images/ciudad/lalaguna.jpg" />
        <div class="caption">La Laguna</div>
      </div>
    </div>
  </div>
</div>

<ul>
  <li>
    Foto de naturaleza por
    <a
      href="https://unsplash.com/@jhvisuals_de?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      class="link"
      >Joshua Humpfer</a
    >
  </li>
  <li>
    Foto de playas por
    <a
      href="https://unsplash.com/@maxberg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      class="link"
      >Maxim Berg</a
    >
  </li>
  <li>
    Foto de tecnología por
    <a
      href="https://flickr.com/photos/europeanspaceagency/33199668323/"
      class="link"
      >European Space Agency</a
    >
  </li>
  <li>
    Foto de ULL por
    <a
      href="https://www.estudia-en-espana.com/mejores-universidades-de-espana/universidad-de-la-laguna/"
      class="link"
      >Estudia en España</a
    >
  </li>
  <li>
    Foto de La Laguna por
    <a href="https://www.flickr.com/photos/javier_losa/6700465521/" class="link"
      >Javier Losa</a
    >
  </li>
</ul>

{% endblock content %}
