{% extends 'base.html' %}



{% block content %}

<h1 class="main-title">
    Código de Conducta
</h1>

<section class="section">

                <p>Python España, como asociación en torno a la que se organizan eventos de
distintos tipos, quiere asegurar que todas las personas que participen
en dichos eventos o comunicaciones tengan una experiencia profesional y
positiva de aprendizaje, colaboración u ocio. Para ello, se espera que
quien participe en la comunidad muestre respeto y cortesía hacia el
resto.</p>
<p>Al participar en la comunidad de Python España, te comprometes a
fomentar una experiencia libre de acoso para todo el mundo,
independientemente de la edad, dimensión corporal, discapacidad visible
o invisible, etnicidad, características sexuales, identidad y expresión
de género, nivel de experiencia, educación, nivel socio-económico,
nacionalidad, apariencia personal, raza, religión, o identidad u
orientación sexual.</p>
<p>Este Código de Conducta detalla qué comportamientos se esperan, cuáles
se rechazan y qué mecanismos hay para ayudar a una persona que esté
siendo objeto de comportamientos inadecuados.</p>
<h2>¿Por qué un código de conducta?</h2>
<p>Siguiendo con el zen de Python, <em>explícito mejor que implícito</em>.
Explicitar qué se espera del ambiente en cualquier evento de Python
España:</p>
<ul>
<li>Favorece que más personas sepan que son bienvenidas</li>
<li>Evita ambigüedades</li>
<li>Construye un clima de confianza, donde si alguien quiere reportar un incidente, sabrá que no empezaremos por cuestionarle (<em>victim blaming</em>).</li>
</ul>
<h2>Alcance</h2>
<p>Este código de conducta es aplicable a todas las personas que participen
en espacios de la comunidad de Python España, ya sean en línea o
presenciales. También se aplica a espacios públicos donde una persona
esté en representación de la comunidad. Ejemplos de esto último incluyen
el uso de la cuenta oficial de correo electrónico, publicaciones a
través de las redes sociales oficiales, o presentaciones con personas
designadas en eventos en línea o no.</p>
<h2>Nuestros estándares</h2>
<p>Ejemplos de comportamiento que contribuyen a crear un ambiente positivo
para nuestra comunidad:</p>
<ul>
<li>Demostrar empatía y amabilidad ante otras personas. No insultes o
    humilles a otros asistentes. Recuerda que las bromas sexistas,
    racistas o discriminatorias no son apropiadas. Nunca lo son</li>
<li>Respetar las diferentes opiniones, puntos de vista y experiencias</li>
<li>Dar y aceptar adecuadamente críticas constructivas</li>
<li>Aceptar la responsabilidad y disculparse ante quienes se vean
    afectados por nuestros errores, aprendiendo de la experiencia</li>
<li>Centrarse en lo que sea mejor no sólo para nosotros como individuos,
    sino para la comunidad en general</li>
<li>Usar un lenguaje inclusivo y que dé cabida a una audiencia diversa</li>
<li>Prestar especial atención a las personas que recién llegan a la
    comunidad</li>
<li>Presentarte con tus pronombres y preguntarle a otra persona los suyos
    para que exista una comunicación clara y sin sesgo</li>
</ul>
<h4>Ejemplos de comportamiento inaceptable:</h4>
<ul>
<li>El uso de lenguaje o imágenes sexualizadas, y aproximaciones o
    atenciones sexuales de cualquier tipo</li>
<li>Comentarios despectivos trolling, insultantes o
    derogatorios, y ataques personales o políticos</li>
<li>Bromas racistas, sexistas o excluyentes</li>
<li>El acoso en público o privado</li>
<li>Publicar información privada de otras personas, tales como
    direcciones físicas o de correo electrónico, sin su permiso
    explícito</li>
<li>Otras conductas que puedan ser razonablemente consideradas como
    inapropiadas en un entorno profesional</li>
</ul>
<p>Por acoso se entiende comentarios ofensivos relacionados con género,
orientación sexual, discapacidad, apariencia física, tamaño corporal,
etnia o religión, pornografía en espacios públicos, intimidación
deliberada, acecho, persecución, acoso por fotografías o grabaciones,
constante interrupción de charlas u otros eventos, contacto físico
inapropiado y atención sexual no deseada.</p>
<h2>Cumplimiento</h2>
<p>La administración de la comunidad es responsable de aclarar y hacer
cumplir este código de conducta; en caso de que se determine un
comportamiento inadecuado, tomará las acciones que considere oportunas.
Éstas van desde exigir el cese del comportamiento, hasta la expulsión de
una persona de un evento o de la Asociación, sin derecho a reembolso. La
administración de la comunidad tendrá el derecho y la responsabilidad de
eliminar, editar o rechazar mensajes, comentarios,
código, ediciones de páginas de wiki, tickets y otras contribuciones que
no se alineen con este código de conducta, y comunicará las razones para
sus decisiones de moderación cuando sea apropiado.</p>
<h2>Denuncia e información de contacto</h2>
<p>Los casos de comportamiento abusivo, acosador o inaceptable de otro modo
podrán ser denunciados a las personas administradoras de la comunidad
responsables del cumplimiento:</p>
<ul>
<li>Si es un evento presencial, ponte en contacto directamente con las
    personas organizadoras del evento. Es muy probable que hayan
    publicando un código de conducta específico del evento con
    instrucciones de a quién acudir; te proporcionarán un espacio seguro
    para ayudarte.</li>
<li>Si se trata de un espacio en línea, ponte en contacto con las
    personas moderadoras de ese espacio.</li>
<li>En el foro de Discourse puedes denunciar publicaciones individuales
    o contactar con el <a href="https://comunidad.es.python.org/groups/moderadores">grupo de
    moderadores</a>.</li>
<li>En Telegram, a la persona propietaria del grupo u otras
    administradoras.</li>
<li>Para otros espacios o de forma alternativa, ponte en contacto con la
    Junta Directiva en <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#111;&#64;&#101;&#115;&#46;&#112;&#121;&#116;&#104;&#111;&#110;&#46;&#111;&#114;&#103;">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#111;&#64;&#101;&#115;&#46;&#112;&#121;&#116;&#104;&#111;&#110;&#46;&#111;&#114;&#103;</a>.</li>
</ul>
<p>Todas las personas administradoras de la comunidad están obligadas a
respetar la privacidad y la seguridad de quienes denuncien incidentes.</p>
<h2>Atribución</h2>
<p>Este código de conducta extiende el ya existente con aportaciones de
otros códigos:</p>
<ul>
<li>La <a class="link" href="https://www.contributor-covenant.org/es/version/2/0/code_of_conduct/">versión en español del Contributor Covenant
    2.0</a>.</li>
<li>El <a class="link" href="https://2020.djangocon.eu/conduct/code_of_conduct/">código de conducta de DjangoCon Europe
    2020</a>.</li>
</ul>

</section>

{% endblock content %}