{% extends 'base.html' %}



{% block content %}

<h1 class="main-title">
    Ediciones anteriores
</h1>


<section class="wrapper">
     {% for edition in PAST_EDITIONS %}
     <div class="box">
      <a class="card"  href="{{ edition.url }}" target="_blank">
        <div class="card__image-container">
          <img src="{{ SITEURL }}{{ edition.logo }}" alt="{{ edition.name }}" style="height: 200px; object-fit: contain;" />
        </div>
        <div class="card__content">
          <h2>{{ edition.name }}</h2>
        </div>
      </a>
    </div>
      {% endfor %}
</section>



{% endblock content %}
