{% extends 'base.html' %}

{% block content %}

<div class="box-intro">
   <h1>
      <img src="{{ SITEURL }}/theme/assets/logo/logo-white.svg"
      alt="PyConES Canarias 2023" >
   </h1>
   <div class="intro">
      <p>
         Os damos la bienvenida a la PyConES, la conferencia de Python más
         importante de España. Un evento que reunirá a cientos de entusiastas
         del lenguaje de programación Python, con una agenda increíble en la
         mejor localización posible.
      </p>
      <p>
         Si quieres formar parte de nuestros patrocinadores para hacer esta
         conferencia aún mas impresionante puedes disponer de espacio propio
         dentro del evento.
      </p>
       <span class="big-text">
         6, 7 y 8 de octubre
       </span>
   </div>
</div>


<h2 class="subtitle">Keynoters</h2>

{% for item in KEYNOTERS %}
<div class="keynoter">
   <div class="keynoter__img">
     <img src="{{ SITEURL }}{{ item['image'] }}" alt="">
   </div>
   <div class="keynoter__content">
     <h2>{{item['name']}}</h2>
     <p>{{item['description']['es']}}</p>
     <div class="social">
     {% if item.twitter %}
       <a href="{{ item.twitter }}" target="_blank" class="fa fa-twitter"></a>
     {% endif %}
     {% if item.linkedin %}
       <a href="{{ item.linkedin }}" target="_blank" class="fa fa-linkedin"></a>
     {% endif %}
     </div>
   </div>
</div>
{% endfor %}


<h2 class="subtitle">Noticias</h2>

{% for noticia in NOTICIAS %}
<div class="news-box">
   <h3 class="news-title">{{ noticia['es'].titulo }} <span>{{ noticia['es'].fecha }}</span></h3>
   <p class="news-content">
      {{ noticia['es'].contenido | urlize }}
   </p>
</div>
{% endfor %}


<h2 class="subtitle">Cronograma del evento</h2>
<p>
   A continuación podrás ver algunos de los hitos más importantes de la
   conferencia. En caso de que la fecha exacta no esté disponible, se
   confirmará desde que podamos.
</p>
<div class="linea-tiempo center">
  {% for item in CRONOGRAMA %}
  <div class="momento">
     <h3 class="momento-date">{{ item['fecha'] }}</h3>
    <div class="descripcion">
       {{ item['desc'] }}
    </div>
  </div>
  {% endfor %}
</div>

<div class="sponsors">
  <h2 class="subtitle">Patrocinios</h1>
  <p>
  Gracias a las empresas que colaboran con la PyConES podemos ofrecer el mejor
  evento y experiencia posible.  Somos una conferencia con un bajo coste de
  entrada capaz de ofrecer una experiencia de 3 días incluyendo regalos,
  almuerzos, comidas y meriendas.
  Con la ayuda de estas empresas conseguimos hacer un evento diverso
  e inclusivo enfocado en cuidar la comunidad de Python.
  </p>


  <div class="title-badge">
   <span style="font-size: 1.5em;">⭐</span>Comunidades Patrocinadoras
</div>

  <div class="special-grid sponsors-grid">

   {% for contributor in SPECIALS_CONTRIBUTORS %}
   <div class="card">
      <a href={{ contributor.url }}>
         <figure class="sponsor-figure">
            <img src="{{ SITEURL }}{{ contributor.logo }}" alt="Logo {{ contributor.name }}" />
         </figure>
      </a>
   </div>
   {% endfor %}
   
   </div>


  {% for level, sponsors in SPONSORS.items() %}
  {% if sponsors %}
  <div class="title-badge">
     <img src="{{ SITEURL }}/theme/assets/badges/{{ level }}.png"> Nivel {{ level | title }}
  </div>
  <div class="{{ level }}-grid sponsors-grid">
  {%   for name, values in sponsors.items() %}
  <div class="card">
     <a href={{ values['url'] }}>
        <figure class="sponsor-figure">
           <img src="{{ SITEURL }}{{ values['logo'] }}" alt="Logo {{ name }}" />
        </figure>
     </a>
  </div>
  {%   endfor %}
  </div>
  {% endif %}
  {% endfor %}
  <div class="title-badge">
     <span style="font-size: 1.5em;">🏫</span> Patrocinio Especial
  </div>
  <div class="special-grid sponsors-grid">

  <!-- ULL -->
  <div class="card">
     <a href="https://www.ull.es">
        <figure class="sponsor-figure special">
           <img src="{{ SITEURL }}/theme/assets/images/sponsors/logo_ull.png" alt="Logo ULL" />
        </figure>
     </a>
  </div>



  <!-- Eventbrite -->
  <div class="card">
     <a href="https://www.eventbrite.es">
        <figure class="sponsor-figure special">
           <img src="{{ SITEURL }}/theme/assets/images/sponsors/logo_eventbrite.png" alt="Logo Eventbrite" />
        </figure>
     </a>
  </div>


  </div>




<div class="title-badge">
   <span style="font-size: 1.5em;">🤝</span>Colaboradores
</div>
<div class="special-grid sponsors-grid">

{% for contributor in CONTRIBUTORS %}
<div class="card">
   <a href={{ contributor.url }}>
      <figure class="sponsor-figure">
         <img src="{{ SITEURL }}{{ contributor.logo }}" alt="Logo {{ contributor.name }}" />
      </figure>
   </a>
</div>
{% endfor %}

</div>
{% endblock content %}
