{% extends 'base.html' %}

{% block content %}
 
<div class="inline-index">
<div >
   <img src="theme/assets/logo/logo-text.svg" width="400px" height="600px" >
</div>
<div>
   <h1 class="main-title">
      {{ TITLE }} <span class="highlight">Canarias</span>
   </h1>
   Os damos la bienvenida a la PyConES, la conferencia de Python más importante de España.
   Un evento que reunirá a cientos de entusiastas de Python, con una agenda increíble en la mejor localización posible.
   Y si queres formar parte de nuestros patrocinadores y participar con nosotros para hacer de este un evento aún mas impresionante puedes 
   tener tu espacio dentro del evento.
   <h2>
      6, 7 y 8 de octubre
   </h2>
</div>
</div>
{% endblock content %}