{% extends 'base.html' %}

{% block content %}

<div class="box-intro">
   <div>
      <img src="theme/assets/logo/logo-white.svg" >
   </div>
   <div>
      Os damos la bienvenida a la PyConES, la conferencia de Python más importante de España. Un evento que reunirá a cientos de entusiastas del lenguaje de programación Python, con una agenda increíble en la mejor localización posible. 
      <br>
      <br>
      Si quieres formar parte de nuestros patrocinadores para hacer esta conferencia aún mas impresionante puedes disponer de espacio propio dentro del evento.
      <br>
      <h1>
         6, 7 y 8 de octubre
      </h1>
   </div>
</div>

<h1>Noticias</h1>

{% for noticia in NOTICIAS %}
<div class="news-box">
   <div class="news-title">{{ noticia.titulo }} <span>{{ noticia.fecha }}</span></div>
   <div class="news-content">
      {{ noticia.contenido }}
   </div>
</div>
{% endfor %}


<h1>Cronograma del evento</h1>
<p>A continuación podrás ver algunos de los hitos más importantes de la conferencia. En caso de que la fecha exacta no esté disponible, se confirmará desde que podamos.</p>
<div class="linea-tiempo center">
  {% for item in CRONOGRAMA %}
  <div class="momento">
     <h4>{{ item['fecha'] }}</h4>
    <div class="descripcion">
       {{ item['desc'] }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
