  <div class="list has-visible-pointer-controls has-hoverable-list-items">
    {% for oferta in JOB_OFFERS %}
    <div class="list-item">
      <div class="list-item-content" style="flex-direction: column">
        <div class="list-item-title is-size-4">{{ oferta["company"] }}</div>
        <div class="list-item-description">
          <strong style="color: var(--python-tag)">{{ oferta["role"] }}</strong>
          <p style="color: black; margin-top: 10px; line-height: 0.9">{{ oferta["description"] }}</p>
          <div style="margin-top: 10px; margin-bottom: 15px">
            {% set tech_list = oferta["tech"].split(',') %}
            {% for item in tech_list %}
            <span class="tag job-is-info">{{ item }}</span>
            {% endfor %}
          </div>
          <div style="margin-top: 10px; margin-bottom: 20px">
            <span class="tag job-tag">{{ oferta["place"] }}</span>
            <span class="tag job-tag">{{ oferta["salary"] }}</span>
          </div>
          {% if oferta['email'] %}
          <a href="mailto:{{ oferta['email'] }}"><button class="button job-button is-link is-small">Contactar</button></a>
          {% endif %}
          {% if oferta['extra_info'] %}
          <a href="{{ oferta['extra_info'] }}" target="_blank"><button class="button job-button is-primary is-small">Ver detalles</button></a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
