
<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" class="menu-icon">&#9776;</label>
<nav class="menu">

  {% for item in NAV_VALUES %}
  <a href="{{ SITEURL }}/{{ item['slug'] }}/"
     class="menu-link {% if output_file == '{{ item[\'slug\'] }}/index.html' %}menu-link-active{% endif %}">
    {{ item['text'] }}
  </a>
  {% endfor %}
  <a
  href="https://www.eventbrite.es/e/entradas-pycones-2023-tenerife-599317373397"
  class="menu-link menu-link-tickets">
  Entradas
  </a>

</nav>
