<nav class="menu">
  <a
    href="{{ SITEURL }}/ciudad/"
    class="menu-link {% if output_file == 'ciudad.html' %}menu-link-active{% endif %}"
  >
    Ciudad
  </a>
  <a
    href="{{ SITEURL }}/viaje/"
    class="menu-link {% if output_file == 'viaje.html' %}menu-link-active{% endif %}"
  >
    Viaje
  </a>
  <a
    href="{{ SITEURL }}/patrocinios/"
    class="menu-link {% if output_file == 'patrocinios.html' %}menu-link-active{% endif %}"
  >
    Patrocinios
  </a>
  <a
    href="{{ SITEURL }}/c4p/"
    class="menu-link {% if output_file == 'c4p.html' %}menu-link-active{% endif %}"
  >
    Call for Papers
  </a>
  <a
    href="{{ SITEURL }}/organizacion/"
    class="menu-link {% if output_file == 'organizacion.html' %}menu-link-active{% endif %}"
  >
    Organización
  </a>
  <a
  href="https://www.eventbrite.es/e/entradas-pycones-2023-tenerife-599317373397"
  class="menu-link menu-link-tickets"
>
  Entradas
</a>
</nav>
