<nav class="menu">
  <a
    href="/ciudad/"
    class="menu-link {% if output_file == 'ciudad/index.html' %}menu-link-active{% endif %}"
  >
    Ciudad
  </a>
  <a
    href="/viaje/"
    class="menu-link {% if output_file == 'viaje/index.html' %}menu-link-active{% endif %}"
  >
    Viaje
  </a>
  <a
    href="/patrocinios/"
    class="menu-link {% if output_file == 'patrocinios/index.html' %}menu-link-active{% endif %}"
  >
    Patrocinios
  </a>
  <a
    href="/c4p/"
    class="menu-link {% if output_file == 'c4p/index.html' %}menu-link-active{% endif %}"
  >
    Call for Papers
  </a>
  <a
    href="/organizacion/"
    class="menu-link {% if output_file == 'organizacion/index.html' %}menu-link-active{% endif %}"
  >
    Organización
  </a>
</nav>
