{% extends 'base.html' %} {% block content %}

<h1 class="main-title">Equipo Organizador</h1>
<section class="hero">
  <p>
    La edición 2023 de la PyConES será posible gracias a muchas personas
    voluntarias que provienen de comunidades tecnológicas como
    <a class="link" href="https://pythoncanarias.es/" target="_blank"
      >Python Canarias</a
    >
    o
    <a class="link" href="https://es.python.org/" target="_blank"
      >Python España</a
    >
    entre otras:
  </p>
  <div class="list has-visible-pointer-controls has-hoverable-list-items">
    {% for persona in ORG %}
    <div class="list-item">
      <div class="list-item-image">
        <figure class="image">
          <img class="is-rounded" src="{{ SITEURL }}{{ persona["img"] }}"
          onerror="this.onerror=null;this.src='{{ SITEURL
          }}/theme/assets/images/org/default.jpg'">
        </figure>
      </div>
      <div class="list-item-content">
        <div class="list-item-info">
          <div class="list-item-title">{{ persona["name"] }}</div>
          <div class="list-item-description">
            <p>{{ persona["title"] }}</p>

            {% if persona["community"] %}
            <span class="tag is-danger">{{ persona["community"] }}</span>
            {% endif %} {% for wg in persona["wg"] %}
            <span class="tag org-is-info">{{ wg }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="social-buttons">
          {% if persona["github_username"] %}
          <a
            href="https://github.com/{{ persona['github_username'] }}"
            target="_blank"
            class="social-button"
          >
            <span class="icon is-small"><i class="fab fa-github"></i></span>
          </a>
          {% endif %} {% if persona["mastodon_url"] %}
          <a
            href="{{ persona['mastodon_url'] }}"
            target="_blank"
            class="social-button"
          >
            <span class="icon is-small"><i class="fab fa-mastodon"></i></span>
          </a>
          {% endif %} {% if persona["twitter_username"] %}
          <a
            href="https://twitter.com/{{ persona['twitter_username'] }}"
            target="_blank"
            class="social-button"
          >
            <span class="icon is-small"><i class="fab fa-twitter"></i></span>
          </a>
          {% endif %} {% if persona["linkedin_url"] %}
          <a
            href="{{ persona['linkedin_url'] }}"
            target="_blank"
            class="social-button"
          >
            <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
