{% extends "base.html" %} {% block content %}

<h1 class="main-title">Viaje a Tenerife</h1>

<section class="section">
  <p>
    Desde la organización de la PyConES nos gustaría ofrecerte todas las
    facilidades posibles para tu viaje a Tenerife. Además, si te apetece, puedes
    aprovechar para disfrutar de unos días más en Canarias.
  </p>

  <h2>Luz Agencia de Viajes</h2>
  <p>
    <img
      class="logo-agencia-viajes"
      src="{{ SITEURL }}/theme/assets/images/viaje/luz-agencia-viajes.png"
    />
    Por ello hemos contactado con una agencia de viajes para que puedas hacer
    tus reservas y aprovechar los mejores precios, disfrutando de un
    <strong
      >10% de descuento en los motores de búsqueda de hoteles, 6% de descuento
      en coches de alquiler y 9% en tickets y excursiones</strong
    >.
  </p>
  <p>
    Las reservas/compras pueden hacerse directamente con la agencia vía teléfono
    o correo electrónico.
  </p>
  <h2>Contacto</h2>
  <p>
    🌐
    <a class="link" href="https://www.luzagenciadeviajes.com/" target="_blank"
      >www.luzagenciadeviajes.com</a
    >
  </p>
  <p>
    📞 <a class="link" href="tel:655400365" target="_blank">655400365</a>
    <i
      >(De lunes a viernes en horario de 8:00h a 18:00h y sábados de 8:00h a
      13:00h)</i
    >
  </p>
  <p>
    📬
    <a class="link" href="mailto:info@luzagenciadeviajes.com" target="_blank"
      >info@luzagenciadeviajes.com</a
    >
  </p>

  <div class="center-buttons">
    <a href="https://luzagenciadeviajes.com" class="button boton-reserva">
      ¡Reserva ya!
    </a>
  </div>
</section>
{% endblock content %}
