{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1>Viaje a Tenerife</h1>
        <p>
            Desde la organización de la PyConES nos gustaría ofrecerte todas las facilidades posibles para tu viaje a Tenerife. Además, si te apetece, puedes aprovechar para disfrutar de unos días más en Canarias.

        </p>

        <h2>Luz Agencia de Viajes</h2>
        <p>
            <div class="center"><img width="200px" src="https://media.discordapp.net/attachments/1048540041942675507/1089635638464237718/52647.png"></div>    
            Por ello hemos contactado con una agencia de viajes para que puedas hacer tus reservas y aprovechar los mejores precios, disfrutando de un <b>10% de descuento en los motores de búsqueda de Hoteles en
todo Tenerife.</b> <b>6% de descuento en coches</b>, <b>9% en tickets y excursiones</b>.
        </p>
        <p>Las reservas/compras pueden hacerse directamente con la agencia vía teléfono o correo electrónico.
        <h2>Contacto</h2>
        <p>🌐 <a class="link" href="https://www.luzagenciadeviajes.com/" target="_blank">www.luzagenciadeviajes.com</a></p>
        <p>📞 <a class="link" href="tel:655400365" target="_blank">655400365</a> <b>lunes a
            viernes de 8:00h a 18:00h</b> y el día <b>sábado de 8:00h a 13:00h</b></p>
        <p>📬 <a class="link" href="mailto:info@luzagenciadeviajes.com" target="_blank">info@luzagenciadeviajes.com</a></p>

        <h3>¡Aprovecha esta oportunidad y reserva cuanto antes!</h3>


    </div>
</section>
{% endblock content %}
