{% extends 'base.html' %}

{% block content %}

<div class="box-intro">
   <div>
      <img src="{{ SITEURL }}/theme/assets/logo/logo-white.svg" >
   </div>
   <div>
      Welcome to PyConES, the most important Python conference in Spain.
      An event that will bring together hundreds of enthusiasts of the Python programming language, with an incredible agenda in the best possible location.
      <br>
      <br>
      If you want to be part of our sponsors to make this conference even more impressive, you can have your own space within the event.
      <br>
      <h1>
         October 6th, 7th and 8th
      </h1>
   </div>
</div>

<h1>News</h1>

{% for noticia in NOTICIAS %}
<div class="news-box">
   <div class="news-title">{{ noticia['en'].titulo }} <span>{{ noticia['en'].fecha }}</span></div>
   <div class="news-content">
      {{ noticia['en'].contenido }}
   </div>
</div>
{% endfor %}


<h1>Event schedule</h1>
<p>Below you will see some of the most important milestones of the conference. In case the exact date is not available, it will be confirmed as soon as we can.</p>
<div class="linea-tiempo center">
  {% for item in CRONOGRAMA %}
  <div class="momento">
     <h4>{{ item['fecha'] }}</h4>
    <div class="descripcion">
       {{ item['desc'] }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
