{% extends 'base.html' %}

{% block content %}

<div class="box-intro">
   <h1>
      <img src="{{ SITEURL }}/theme/assets/logo/logo-white.svg"
      alt="PyConES Canarias 2023" >
   </h1>
   <div cass="intro">
      <p>
      Welcome to PyConES, the most important Python conference in Spain.
      An event that will bring together hundreds of enthusiasts of the Python
      programming language, with an incredible agenda in the best possible
      location.
      </p>
      <p>
      If you want to be part of our sponsors to make this conference even more
      impressive, you can have your own space within the event.
      </p>
      <span class="big-text">
         October 6th, 7th and 8th
      </span>
   </div>
</div>


<h2 class="subtitle">Keynoters</h2>



{% for item in KEYNOTERS %}

<div class="keynoter">
   <div class="keynoter__img">
     
     <img src="{{ SITEURL }}{{ item['image'] }}" alt="">
   </div>
   <div class="keynoter__content">
     <h2>{{item['name']}}</h2>
     <p>{{item['description']['en']}}</p>
     <div class="social"><a href="{{ item.twitter }}" target="_blank" class="fa fa-twitter"></a></div>
   </div>


<div class="keynoter__pagination"></div>
</div>
{% endfor %}



<h2 class="subtitle">News</h2>

{% for noticia in NOTICIAS %}
<div class="news-box">
   <h3 class="news-title">{{ noticia['en'].titulo }} <span>{{ noticia['en'].fecha }}</span></h3>
   <p class="news-content">
      {{ noticia['en'].contenido }}
   </p>
</div>
{% endfor %}


<h2 class="subtitle">Event schedule</h2>
<p>
   Below you will see some of the most important milestones of the conference.
   In case the exact date is not available, it will be confirmed as soon as we
   can.
</p>
<div class="linea-tiempo center">
  {% for item in CRONOGRAMA %}
  <div class="momento">
     <h3 class="momento-date">{{ item['fecha'] }}</h3>
    <div class="descripcion">
       {{ item['desc'] }}
    </div>
  </div>
  {% endfor %}
</div>

<div class="sponsors">
  <h1 class="subtitle">Patrocinios</h1>
  <p>
  Thanks to the companies that collaborate with PyConES we can offer the best
  possible event and experience. We are a conference with a low cost of entry
  able to offer a 3 day experience including gifts, lunches, meals and snacks.
  With the help of these companies we managed to make a diverse and inclusive
  event focused on taking care of the Python community.
  </p>
  {% for level, sponsors in SPONSORS.items() %}
  {% if sponsors %}
  <div class="title-badge">
     <img src="{{ SITEURL }}/theme/assets/badges/{{ level }}.png"> Nivel {{ level }}
  </div>
  <div class="{{ level }}-grid">
  {%   for name, values in sponsors.items() %}
  <div class="card">
     <a href={{ values['url'] }}>
        <figure class="sponsor-figure">
           <img src="{{ SITEURL }}{{ values['logo'] }}" alt="Logo {{ name }}" />
        </figure>
     </a>
  </div>
  {%   endfor %}
  </div>
  {% endif %}
  {% endfor %}
  <div class="title-badge">
     <span style="font-size: 1.5em;">🏫</span> Special sponsor (Venue)
  </div>
  <div class="venue-grid">
  <div class="card">
     <a href="https://www.ull.es/en/">
        <figure class="sponsor-figure venue">
           <img src="{{ SITEURL }}/theme/assets/images/sponsors/logo_ull.png" alt="Logo ULL" />
        </figure>
     </a>
  </div>
  </div>
</div>
{% endblock content %}
