  <div class="list has-visible-pointer-controls has-hoverable-list-items">
    {% for persona in ORG %}
    <div class="list-item">
      <div class="list-item-image">
        <figure class="image">
          <img class="is-rounded" alt="{{ persona["name"] }}" src="{{ SITEURL }}{{ persona["img"] }}"
          onerror="this.onerror=null;this.src='{{ SITEURL
          }}/theme/assets/images/org/default.jpg'">
        </figure>
      </div>
      <div class="list-item-content">
        <div class="list-item-info">
          <div class="list-item-title">{{ persona["name"] }}</div>
          <div class="list-item-description">
            <p>{{ persona["title"] }}</p>

            {% if persona["community"] %}
            <span class="tag is-danger">{{ persona["community"] }}</span>
            {% endif %} {% for wg in persona["wg"] %}
            <span class="tag org-is-info">{{ wg }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="social-buttons">
          {% if persona["github_username"] %}
          <a
            href="https://github.com/{{ persona['github_username'] }}"
            target="_blank"
            class="social-button"
            aria-label="GitHub account"
          >
            <span class="icon is-small"><i class="fab fa-github"></i></span>
          </a>
          {% endif %} {% if persona["mastodon_url"] %}
          <a
            href="{{ persona['mastodon_url'] }}"
            target="_blank"
            class="social-button"
            aria-label="Mastodon account"
          >
            <span class="icon is-small"><i class="fab fa-mastodon"></i></span>
          </a>
          {% endif %} {% if persona["twitter_username"] %}
          <a
            href="https://twitter.com/{{ persona['twitter_username'] }}"
            target="_blank"
            class="social-button"
            aria-label="Twitter account"
          >
            <span class="icon is-small"><i class="fab fa-twitter"></i></span>
          </a>
          {% endif %} {% if persona["linkedin_url"] %}
          <a
            href="{{ persona['linkedin_url'] }}"
            target="_blank"
            class="social-button"
            aria-label="LinkedIn account"
          >
            <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
          </a>
          {% endif %} {% if persona["instagram_username"] %}
          <a
            href="https://www.instagram.com/{{ persona['instagram_username'] }}"
            target="_blank"
            class="social-button"
            aria-label="Instagram account"
          >
            <span class="icon is-small"><i class="fab fa-instagram"></i></span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
