{% block extra_script %}
    <script type="text/javascript" src="https://charlas.2023.es.pycon.org/pycones-2023/schedule/widget/v2.en.js"></script>
{% endblock extra_script %}


<pretalx-schedule event-url="https://charlas.2023.es.pycon.org/pycones-2023/" locale="es" format="grid" style="--pretalx-clr-primary: #3aa57c"></pretalx-schedule>
<noscript>
    <div class="pretalx-widget">
        <div class="pretalx-widget-info-message">
            JavaScript is disabled in your browser. To access our schedule without JavaScript,
            please <a target="_blank" href="https://charlas.2023.es.pycon.org/pycones-2023/schedule/">click here</a>.
        </div>
    </div>
</noscript>

<div class="box has-text-centered">
    <a download target="_blank" class="button is-medium button is-primary" href="https://charlas.2023.es.pycon.org/pycones-2023/schedule/export/schedule.ics">Download ICal</a>
    <a download target="_blank" class="button is-medium button is-link" href="https://charlas.2023.es.pycon.org/pycones-2023/schedule/export/schedule.xcal">Download XCal</a>
</div>
