
<section class="footer-section social">

<a class="social-link" href="mailto:contacto@2023.es.pycon.org">
        <i class="fa-solid fa-envelope fa-2x purple"></i>
</a>
<a class="social-link" href="https://fosstodon.org/@pycones">
        <i class="fa-brands fa-mastodon fa-2x purple"></i>
</a>
<a href="https://twitter.com/PyConES">
        <i class="fa-brands fa-twitter fa-2x purple"></i>
</a>

<a class="social-link" href="https://instagram.com/pycon_es">
        <i class="fa-brands fa-instagram fa-2x purple"></i>
</a>
<a class="social-link" href="https://t.me/pycones23_noticias">
        <i class="fa-brands fa-telegram fa-2x purple"></i>
</a>
<a class="social-link" href="https://www.youtube.com/@PythonES">
        <i class="fa-brands fa-youtube fa-2x purple"></i>
</a>



</section>