@font-face {
    font-family: 'ralewaythin_italic';
    src: url('raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}